<div class="collage__area common_slick_slider" id="section-{{ section.id }}" data-section="Collage__Collection">
  
  <div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
      <div class="section-title {{ section.settings.title_align }} pb-40">
        {% if section.settings.section_title != '' %}
          <h2>{{ section.settings.section_title }}</h2>
        {% endif %}

        {% if section.settings.section_sub_title != '' %}
          <p>{{ section.settings.section_sub_title }}</p>
        {% endif %}
      </div>
    {% endif %}



    <div class="collage__wrap collage__columns__{{ section.blocks.size }} ">
      
   {%- for block in section.blocks -%}
    <div class="collage__item collage__item__{{ block.type }} collage__item__{{ forloop.index }} collage__item__{{ section.settings.desktop_layout }}" >
  
        {%- case block.type -%}
          {%- when 'banner' -%}
            <div class="collage__banner collage__banner__wrap collage__inner__item border__radius {% if settings.section__animation__enable %}scroll-zoom {% endif %}">

                  {%- liquid
                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                    assign fetch_priority = 'auto'
                    if section.index == 1
                      assign fetch_priority = 'high'
                    endif
                    assign image_class = 'lazyload-main-image animated responsive-image__image'
                    assign lazy_load = 'lazy'
                  -%}
              
                  <a href="{{ block.settings .btn1_url }}" class="lazyload-wraper-position" style="padding-top:{{ 1 | divided_by: block.settings.img1.aspect_ratio | times: 100}}%;">
                    {%- if block.settings .img1 -%}
                      
                      {% assign image_height = block.settings.img1.width | divided_by: block.settings.img1.aspect_ratio %}
                      {{ block.settings.img1 | image_url: width: 3840 | image_tag: width: block.settings.img1.width, height: image_height, 
                      widths: widths, fetchpriority: fetch_priority, class: image_class, loading: lazy_load }}
                      
                    {%- else -%}
                      <img loading="lazy"  class="animated" src="https://placehold.co/970x1050" alt="{{ image.alt }}">
                    {%- endif -%}
                  </a>

                    <div class="collage__banner__content">
                      <div class="collage__banner__content_wrap">
                        {%- if block.settings.t1 != '' -%}
                        <h5>{{ block.settings .t1 }}</h5>
                        {% endif %}
                         {%- if block.settings.t2 != '' -%}
                        <h2>{{ block.settings .t2 }}</h2>
                        {% endif %}
                        {%- if block.settings.t3 != '' -%}
                        <p>{{ block.settings .t3 }}</p>
                        {% endif %}
                        {%- if block.settings.banner_btn_text != '' -%}
                        <a class="collage__button" href="#">{{ block.settings.banner_btn_text}}</a>
                        {% endif %}
                      </div>
                    </div>
               </div>

              <style>
                #section-{{ section.id }} .collage__banner__content h5 {
                    color:{{block.settings.banner_subtitle_color}}
                }
                #section-{{ section.id }} .collage__banner__content h2 {
                    color:{{block.settings.banner_maintitle_color}}
                }
                #section-{{ section.id }} .collage__banner__content p {
                    color:{{block.settings.banner_description_color}}
                }
                #section-{{ section.id }} .collage__banner__content .collage__button {
                    color:{{block.settings.banner_btn_color}}
                }
              </style>
  

          {%- when 'product-collection' -%}

            {%- capture data_slick_activation -%}
            data-slick='{
              
                        "infinite": true,
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        {% if settings.rtl_enable %}
                          "rtl": true,
                        {% endif %}
                        "rows":1,

                          {% if block.settings.dot__btn__enable %} 
                            "dots": true,
                          {% else %}  
                            "dots": false,
                          {% endif %}
                          
                          {% if block.settings.arrow__btn__enable %} 
                            "arrows": true,
                            "prevArrow": "<span class=&#x27;product-dec-icon product-dec-prev&#x27;><i class=&#x27;sli sli-arrow-left&#x27;></i></span>",
                            "nextArrow": "<span class=&#x27;product-dec-icon product-dec-next&#x27;><i class=&#x27;sli sli-arrow-right&#x27;></i></span>",  
                          {% else %}  
                            "arrows": false,
                          {% endif %}
                            


                        "responsive": [

                        {
                          "breakpoint": 1800,
                          "settings": {
                          "slidesToShow": 1,
                          "slidesToScroll": 1
                          }
                        },
                        {
                          "breakpoint": 1200,
                          "settings": {
                          "slidesToShow": 1,
                          "slidesToScroll": 1
                          }
                        },
                        {
                          "breakpoint": 991,
                          "settings": {
                          "slidesToShow": 1,
                          "slidesToScroll": 1
                          }
                        },
                        {
                          "breakpoint": 767,
                          "settings": {
                          "slidesToShow": 1,
                          "slidesToScroll": 1
                          }
                        },
                        {
                          "breakpoint": 349,
                          "settings": {
                          "slidesToShow": 1,
                          "slidesToScroll": 1
                          }
                        }
                     ]


            }'
            {%- endcapture -%}

      
            {%- assign bset = block.settings -%}
            <div class="collage__product__collection collage__inner__item {% if settings.section__animation__enable %}scroll-zoom {% endif %}">
              <div class="collage__product__collection__wrap">

                {%- assign tab_product = collections[block.settings.featured_product_handle] -%}
                {%- assign product_limit = block.settings.product_limit_handle -%}

                {%- if tab_product == empty -%}
                  <div class="theme-products row collage__collection__slider carsoule_arrow_style" {{ data_slick_activation }}>
                    {%- assign i = 1 -%}
                    {% for i in (1..product_limit) %}
                      {% capture a %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      <div
                        class="col-12" style="margin-bottom: 30px;" >
                        <div>
                          {% assign product_item = 'product-' | append: a %}
                          {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
                        </div>
                        <h6>Product Title</h6>
                        <div>
                          <span>$99.99</span>
                        </div>
                      </div>
                      {%- assign i = i | plus: 1 -%}
                    {% endfor %}
                  </div>
                {%- else -%}
                  <div class="collage__product__inner__wrap theme-products collage__collection__slider carsoule_arrow_style" {{ data_slick_activation }}>
                    {% for product in tab_product.products limit: product_limit %}
                      <div class="collage__product__single">
                        {% include 'product-grid-item' %}
                      </div>
                    {% endfor %}
                  </div>
                {%- endif -%}

              {% if block.settings.offer_date != '' %}
              <div class="collage__product__collection__countdown">
                <div class="collage__count__box">
                  <div class="theme-product-countdown" data-countdown="{{ block.settings.offer_date }}"></div>
                </div>
              </div>

              <style>
                #section-{{ section.id }} .collage__product__collection__wrap .carsoule_arrow_style .slick-dots {
                    bottom: -130px;
                    opacity: 1;
                    visibility: visible;
                }
                #section-{{ section.id }} .collage__product__collection__wrap {
                    padding-bottom: 55px;
                }
              </style>

              {% endif %}
          
              </div>
            </div>
          
          {%- when 'video' -%}

           <div class="collage__video__banner collage__inner__item static_video border__radius lazyload-wraper-position {% if settings.section__animation__enable %}scroll-zoom {% endif %}" style="padding-top:{{ 1 | divided_by: block.settings.video_thumbnail_image.aspect_ratio | times: 100}}%;">


                {%- liquid
                  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                  assign fetch_priority = 'auto'
                  if section.index == 1
                    assign fetch_priority = 'high'
                  endif
                  assign image_class = 'lazyload-main-image animated responsive-image__image img_static'
                  assign lazy_load = 'lazy'
                -%}
             
             
                {% if block.settings.video_thumbnail_image %}
   

                  {% assign image_height = block.settings.video_thumbnail_image.width | divided_by: block.settings.video_thumbnail_image.aspect_ratio %}
                  {{ block.settings.video_thumbnail_image | image_url: width: 3840 | image_tag: width: block.settings.video_thumbnail_image.width, height: image_height, 
                  widths: widths, fetchpriority: fetch_priority, class: image_class, loading: lazy_load }}
             
                  
                {% else %}
                  <img loading="lazy"  class="img_static animated" src="https://placehold.co/1170x500" alt="image">
                {% endif %}
          


              {% if block.settings.video_type_handle == 'popup_banner' %}
              <div id="cms_play">
                <a class="banner_video_btn video-popup-banner fancybox.iframe" href="http://www.youtube.com/embed/{{ block.settings.video_url.id }}?autoplay=1" >
                  <i class="icofont-play"></i >{{ block.settings.button__text }} 
                </a>
              </div>
            {% elsif block.settings.video_type_handle == 'normal_banner' %}
              <div class="banner_video_btn" id="cms_play">
                <i class="icofont-play"></i >{{ block.settings.button__text }} 
              </div>
            {% endif %}

            {%- if block.settings.video_type_handle == 'popup_banner' -%}
              {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
              <script src="{{ 'jquery.fancybox.min.js' | asset_url }}"></script>
            
              <script>
                $(document).ready(function() {
                  $(".video-popup-banner").fancybox({
                    maxWidth	: 800,
                    maxHeight	: 600,
                    fitToView	: false,
                    width		: '70%',
                    height		: '70%',
                    autoSize	: false,
                    closeClick	: false,
                    openEffect	: 'none',
                    closeEffect	: 'none'
                  });
                });
              </script>
            
            {%- elsif block.settings.video_type_handle == 'normal_banner' -%}
              <script>
                function getId(url) {
                  var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                  var match = url.match(regExp);
            
                  if (match && match[2].length == 11) {
                    return match[2];
                  } else {
                    return 'error';
                  }
                }
            
                var videoId = getId('{{ block.settings.video_url }}');
                var video_frame_w= $(".img_static").outerWidth();
                var video_frame_h= $(".img_static").outerHeight();
                $('#cms_play').click(function(){
                  $(this).hide('fast');
                  $(".img_static").fadeOut('fast');
                  $('.static_video').append('<iframe class="added_video" src="https://www.youtube.com/embed/'+videoId+'?rel=0&autoplay=1" frameborder="0"></iframe>');
                });
              </script>
            {%- endif -%}
          
             </div>

          
            {%- when 'promotion__banner' -%}
             <div class="collage__collection__wrap collage__inner__item border__radius {% if settings.section__animation__enable %}scroll-zoom {% endif %}"> 


                  {%- liquid
                  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                  assign fetch_priority = 'auto'
                  if section.index == 1
                  assign fetch_priority = 'high'
                  endif
                  assign image_class = 'lazyload-main-image animated responsive-image__image'
                  assign lazy_load = 'lazy'
                  -%}

               
                  <a href="{{ block.settings .collection__url }}" class="lazyload-wraper-position" style="padding-top:{{ 1 | divided_by: block.settings.collection__img.aspect_ratio | times: 100}}%;">
                  {%- if block.settings .collection__img -%}
                        {% assign image_height = block.settings.collection__img.width | divided_by: block.settings.collection__img.aspect_ratio %}
                        {{ block.settings.collection__img | image_url: width: 3840 | image_tag: width: block.settings.collection__img.width, height: image_height, 
                        widths: widths, fetchpriority: fetch_priority, class: image_class, loading: lazy_load, alt: image.alt}}
                  {%- else -%}
                    <img loading="lazy"  class="animated" src="https://placehold.co/1170x500" alt="{{ image.alt }}">
                  {%- endif -%}

                  <div class="collage__collection__content">
                    <h4>{{ block.settings.promotion__content }}</h4>
                  </div>
                  
                </a>
               </div>
          
               <style>
                #section-{{ section.id }} .collage__collection__content h4 {
                    color:{{block.settings.promotion_content_color}}
                }
              </style>
  
        {%- endcase -%}
        </div>
        
      {%- endfor -%}
    </div>
    </div>
</div>


  
  
<style>

.collage__wrap{
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-auto-flow: row;
  grid-template-columns: repeat(2,minmax(0,1fr));
}  
.collage__banner__content_wrap {
    max-width: 70%;
}
.collage__banner__content h5 {
    margin-bottom: 20px;
}
.collage__banner__content h2 {
    font-size: 40px;
}
.collage__product__single .theme-product{
  margin-bottom:0
}
.collage__inner__item {
    position: relative;
    height: 100%;
}
.collage__inner__item img.animated {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.collage__banner__content {
	position: absolute;
	z-index: 8;
	left: 20px;
	right: 20px;
	top: 20px;
    padding:40px;
}
.collage__collection__content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.collage__item.collage__item__product-collection {
    box-shadow: 0 0 50px rgb(0 0 0 / 8%);
}
.collage__product__collection {
    position: relative;
    background: {{ settings.body_bg_color }};
}
.collage__wrap .banner_video_btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: {{ settings.color_primary }};
    padding: 5px 10px;
    border-radius: 5px;
    color: {{ settings.body_bg_color }};
    border: 1px solid {{ settings.color_primary }};
}
.collage__wrap .banner_video_btn:hover {
    background: transparent;
    color: {{ settings.color_primary }};
    border: 1px solid {{ settings.color_primary }};
}
  .collage__product__collection__wrap .collage__count__box .cd-single .cd-single-inner h3,
  .collage__product__collection__wrap .collage__count__box .cd-single .cd-single-inner p{
    color: #fff;
  }
  
.collage__wrap .banner_video_btn i {
  margin-right:5px
}

.collage__video__banner .added_video {
    min-height: 100%;
    width: 100%;
    max-height: 450px;
}

@media (min-width: 1366px) and (max-width: 1500px){
  .collage__product__collection__wrap .collage__count__box .cd-single {
  	padding: 0 15px;
  }
}

@media (min-width: 992px) and (max-width: 1365px){
  
  .collage__wrap {
	grid-column-gap: 10px;
	grid-row-gap: 10px;
  }
  .collage__product__collection__wrap .carsoule_arrow_style .slick-arrow {
    border: none;
    height: 20px;
    width: 20px;
  }
  .collage__banner__content {
    padding: 20px;
  }
  .collage__banner__content_wrap {
    max-width: 100%;
  }
  .collage__product__collection__wrap .collage__count__box .cd-single {
    padding: 0 8px;
  }
  .collage__product__collection__wrap .collage__count__box .cd-single .cd-single-inner h3 {
    font-size: 16px;
  }
  .collage__product__collection__wrap .collage__count__box .cd-single .cd-single-inner p {
    font-size: 14px;
  }
  .collage__product__collection__wrap .theme-products .theme-product.theme-product-action-on-hover .theme-product-inner.icon_bg.grid__style__2 .theme-product-image-wrap .theme-product-action ul li {
    margin: 5px 0;
  }
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li .theme-product-action-btn, 
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li a, 
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li button {
    width: 20px;
    height: 20px;
  }
  
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li .theme-product-action-btn i, 
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li a i{
    font-size:14px
  }
  
}


@media screen and (min-width: 992px){
  .collage__wrap{
    grid-auto-flow: column;
  }  
  .collage__columns__4 {
    grid-template-columns: repeat(4,minmax(0,1fr));
  }
  .collage__columns__3 {
      grid-template-columns: repeat(3,minmax(0,1fr));
  }
  .collage__columns__4 .collage__item__left__large__block:nth-child(1),
  .collage__columns__3 .collage__item__left__large__block:nth-child(1) {
  	grid-column: 1 / span 2;
  	grid-row: span 2;
  }
  .collage__columns__4 .collage__item__left__large__block:nth-child(3n-1) {
  	grid-column-start: 3;
  	grid-row: span 2;
  }
  .collage__columns__3 .collage__item__left__large__block:nth-child(3n-1),
  .collage__columns__3 .collage__item__left__large__block:nth-child(3n) {
      grid-column-start: 3;
      grid-row: span 1;
  }

.collage__columns__4 .collage__item__right__large__block:nth-child(4n) {
      grid-column: 3 / span 2;
      grid-row: span 2;
  }
  .collage__columns__4 .collage__item__right__large__block:nth-child(3n) {
      grid-column-start: 2;
      grid-row: span 2;
  }
  .collage__columns__3 .collage__item__right__large__block:nth-child(3n) {
      grid-column: 2 / span 2;
      grid-row: span 2;
  }
  
}
  

@media (min-width: 768px) and (max-width: 991px){
  .collage__wrap {
	grid-column-gap: 10px;
	grid-row-gap: 10px;
  }
  .collage__banner__content {
	padding: 10px;
  }
  .collage__banner__content_wrap {
  	max-width: 100%;
  }
  .collage__banner__content h2 {
	font-size: 30px;
  }

}

  
@media (min-width: 576px) and (max-width: 767px){
  .collage__banner__content {
	padding: 10px;
  }
  .collage__banner__content_wrap {
  	max-width: 100%;
  }
  .collage__banner__content h2 {
	font-size: 25px;
  }
  .collage__product__collection__wrap .collage__count__box .cd-single {
  	padding: 0 10px;
  }
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li .theme-product-action-btn, 
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li a, 
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li button {
      width: 20px;
      height: 20px;
  }
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li .theme-product-action-btn i, 
  .collage__product__collection__wrap .theme-products .theme-product .theme-product-inner .theme-product-image-wrap .theme-product-action ul li a i{
    font-size:14px
  }
  
}
  
  
@media screen and (max-width: 575px){
  .collage__wrap{
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
  .collage__banner__content {
	padding: 10px;
  }
  .collage__banner__content_wrap {
  	max-width: 100%;
  }
  .collage__banner__content h2 {
	font-size: 25px;
  }
  
}
  


</style>




{%- render 'section-style' -%}
{%- render 'heading-style' -%}

{% schema %}
 {
   "name": "Collage",
   "settings": [
             {
               "type": "select",
               "id": "section_width",
               "label": "Section Width",
               "options":[
                     {
                         "label": "Full Width",
                         "value": "full_width"
                     },
                     {
                         "label": "Box Width",
                         "value": "box_width"
                     },
                     {
                         "label": "Default Width",
                         "value": "default"
                     }
                 ],
                 "default": "default"
             },

	{
		"type": "header",
           "content": "Section Title"
       },

       {
         "type": "checkbox",
         "id": "section_title_custom_color",
         "label": "Section Title Custom Style Enable",
         "default": false
       },

	{
           "type": "text",
           "id": "section_title",
           "label": "Title",
           "default": "New Arrivals"
       },

       {
         "type": "color",
         "id": "section_title_color",
         "label": "Title Color",
         "default": "#1f2226"
       },
         {
           "type": "font_picker",
           "id": "section_title_font",
           "label": "Font Family: Section Title Font",
           "default": "poppins_n6"
         },
         {
             "type": "header",
             "content": "Main Screen"
         },
         {
           "type": "text",
           "id": "section_title_font_size",
           "label": "Font Size: Font Size",
           "default": "30",
           "info": "Section Title Font Size"
         },
         {
           "type":      "range",
           "id":        "section_title_line_height",
           "min":       20,
           "max":        150,
           "step":       5,
           "unit":       "px",
           "label":     "Section Title Line Height",
           "default":   40
         },
         {
             "type": "header",
             "content": "Medium Screen"
         },
         {
           "type": "text",
           "id": "section_title_font_size_md",
           "label": "Font Size: Font Size (MD)",
           "default": "24",
           "info": "Section Title Font Size"
         },
         {
           "type":      "range",
           "id":        "section_title_line_height_md",
           "min":       20,
           "max":        150,
           "step":       5,
           "unit":       "px",
           "label":     "Section Title Line Height (MD)",
           "default":   35
         },
         {
             "type": "header",
             "content": "Small Screen"
         },
         {
           "type": "text",
           "id": "section_title_font_size_sm",
           "label": "Font Size: Font Size (SM)",
           "default": "20",
           "info": "Section Title Font Size"
         },
         {
           "type":      "range",
           "id":        "section_title_line_height_sm",
           "min":       20,
           "max":        150,
           "step":       5,
           "unit":       "px",
           "label":     "Section Title Line Height (SM)",
           "default":   30
         },
         {
           "type":      "range",
           "id":        "section_title_margin_bottom",
           "min":       0,
           "max":        50,
           "step":       1,
           "unit":       "px",
           "label":     "Section Title margin Bottom",
           "default":   10
         },


	{
           "type": "textarea",
           "id": "section_sub_title",
           "label": "Subtitle",
           "default": "Contrary to popular belief, Lorem Ipsum is not simply random text."
       },

       {
         "type": "color",
         "id": "section_subtitle_color",
         "label": "Subtitle Color",
         "default": "#5a5a5a"
       },
         {
           "type": "font_picker",
           "id": "section_sub_title_font",
           "label": "Font Family: Section Sub Title Font",
           "default": "poppins_n6"
         },
         {
             "type": "header",
             "content": "Main Screen"
         },
         {
           "type": "text",
           "id": "section_des_font_size",
           "label": "Font Size: Font Size",
           "default": "14",
           "info": "Section Description Font Size"
         },
         {
           "type":      "range",
           "id":        "section_sub_title_line_height",
           "min":       20,
           "max":        100,
           "step":       1,
           "unit":       "px",
           "label":     "Section Sub Title Line Height",
           "default":   24
         },
         {
             "type": "header",
             "content": "Medium Screen"
         },
         {
           "type": "text",
           "id": "section_des_font_size_md",
           "label": "Font Size: Font Size (MD)",
           "default": "14",
           "info": "Section Description Font Size (MD)"
         },
         {
           "type":      "range",
           "id":        "section_sub_title_line_height_md",
           "min":       20,
           "max":        100,
           "step":       1,
           "unit":       "px",
           "label":     "Section Sub Title Line Height (MD)",
           "default":   24
         },

         {
             "type": "header",
             "content": "Small Screen"
         },
         {
           "type": "text",
           "id": "section_des_font_size_sm",
           "label": "Font Size: Font Size (SM)",
           "default": "14",
           "info": "Section Description Font Size (SM)"
         },
         {
           "type":      "range",
           "id":        "section_sub_title_line_height_sm",
           "min":       20,
           "max":        100,
           "step":       1,
           "unit":       "px",
           "label":     "Section Sub Title Line Height (SM)",
           "default":   24
         },
         {
           "type":      "range",
           "id":        "section_sub_title_margin_bottom",
           "min":       0,
           "max":        50,
           "step":       1,
           "unit":       "px",
           "label":     "Section Sub Title margin Bottom",
           "default":   10
         },

    	{
               "type": "select",
               "id": "title_align",
               "label": "Title Align",
               "options":[
                     {
                         "label": "Text Left",
                         "value": "text-left"
                     },
                     {
                         "label": "Text Center",
                         "value": "text-center"
                     },
                     {
                         "label": "Text Right",
                         "value": "text-right"
                     }
                 ],
                 "default": "text-center"
             },
             {
                 "type": "header",
                 "content": "Banner Border Radius"
             },
             {
               "type": "range",
               "id": "banner_border_radius",
               "min": 0,
               "max": 50,
               "step": 1,
               "label": "Banner Border Radius",
               "unit": "px",
               "default": 10
             },

               {
                  "type": "header",
                  "content": "Layout"
                },
              {
                "type": "select",
                "id": "desktop_layout",
                "options": [
                  {
                    "value": "left__large__block",
                    "label": "left Large Block"
                  },
                  {
                    "value": "right__large__block",
                    "label": "Right Large Block"
                  }
                ],
                "default": "left__large__block",
                "label": "left Large Block"
              }

],
"blocks":[
   {
         "type": "banner",
         "name": "Banner",
         "settings": [
             {
                 "type": "header",
                 "content": "Banner 1"
             },
             {
                 "type": "image_picker",
                 "id": "img1",
                 "label": "Image"
             },
             {
                 "type": "text",
                 "id": "t1",
                 "label": "Sub Title",
                 "default": "Mens Backpack"
             },
              {
                 "type": "color",
                 "id": "banner_subtitle_color",
                 "label": "Banner Subtitle Color",
                 "default": "#5a5a5a"
              },
             {
                 "type": "text",
                 "id": "t2",
                 "label": "Main Title",
                 "default": "Shop the Best Laptops Now!"
             },
             {
                 "type": "color",
                 "id": "banner_maintitle_color",
                 "label": "Banner Maintitle Color",
                 "default": "#5a5a5a"
              },
             {
                 "type": "textarea",
                 "id": "t3",
                 "label": "Description",
                 "default": "Pair text with an icon to focus on your store's features"
             },
             {
                 "type": "color",
                 "id": "banner_description_color",
                 "label": "Banner Maintitle Color",
                 "default": "#5a5a5a"
              },
              {
                 "type": "text",
                 "id": "banner_btn_text",
                 "label": "Banner Button Text",
                 "default": "Shop Now"
             },
             {
                 "type": "url",
                 "id": "btn1_url",
                 "label": "URL",
                 "default": "\/collections\/all"
             },
             {
                 "type": "color",
                 "id": "banner_btn_color",
                 "label": "Banner Button Color",
                 "default": "#5a5a5a"
              }
           
         ]
      },
     {
         "type": "product-collection",
         "name": "Product Collection",
         "settings": [

              {
                  "type": "header",
                  "content": "Collection"
              },
               {
                 "type": "collection",
                 "id": "featured_product_handle",
                 "label": "Select Collection"
               },
              {
                  "type": "range",
                  "id": "product_limit_handle",
                  "min": 1,
                  "max": 20,
                  "step": 1,
                  "label": "Limit",
                  "default": 8
              },
              {
               "type": "text",
               "id": "offer_date",
               "label": "Offter Duration Date",
               "default": "2025/03/25",
               "info": "Example: Year/Month/Day"
               },
               {
                 "type": "checkbox",
                 "id": "arrow__btn__enable",
                 "label": "Slider Arrow Enable",
                 "default": true
               },
               {
                 "type": "checkbox",
                 "id": "dot__btn__enable",
                 "label": "Slider Dot Enable",
                 "default": true
               }
         ]
      },
   {
         "type": "video",
         "name": "Video",
         "settings": [
            	{
            		"type": "header",
                       "content": "Video Option"
                   },
            	{
                     "type": "image_picker",
                     "id": "video_thumbnail_image",
                     "label": "Video Thumbnail Image",
            	  "info": "Recommended Size: 1320 x 500px"
                 	},
                	{
                      "id": "video_url",
                      "type": "video_url",
                      "label": "Video URL",
                      "accept": ["youtube"],
                      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
                   },
                   {
                   "type": "text",
                   "id": "button__text",
                   "label": "Button Text",
                   "default": "Play Now"
                   },
                   {
                   "type": "radio",
                   "id": "video_type_handle",
                   "label": "Video Type",
            	  "options":[
            			{
                               "label": "Popup",
                               "value": "popup_banner"
                           },
                           {
                               "label": "Normal",
                               "value": "normal_banner"
                           }
            		],
            		"default": "popup_banner"
           	}
           

         ]
      },
     {
         "type": "promotion__banner",
         "name": "Promotion Banner",
         "settings": [
             {
                 "type": "image_picker",
                 "id": "collection__img",
                 "label": "Promotion Image"
             },
             {
                   "type": "text",
                   "id": "promotion__content",
                   "label": "Promotion Banner Text",
                   "default": "New Arrivals"
             },           
             {
                 "type": "url",
                 "id": "collection__url",
                 "label": "Promotion URL",
                 "default": "\/collections\/all"
             },
             {
                 "type": "color",
                 "id": "promotion_content_color",
                 "label": "Promotion Content Color",
                 "default": "#fff"
            }
         ]
      },
   {
         "type": "section_margin",
         "name": "Section Margin",
        "limit": 1,
         "settings": [
           {
		  "type": "header",
		  "content": "Large/Desktop Device"
		},
		{
		  "type": "range",
		  "id": "section_margin_top",
		  "min": 0,
		  "max": 150,
		  "step": 5,
		  "label": "Margin Top",
		  "unit": "px",
		  "default": 0
		},
		{
		  "type": "range",
		  "id": "section_margin_bottom",
		  "min": 0,
		  "max": 150,
		  "step": 5,
		  "label": "Margin Bottom",
		  "unit": "px",
		  "default": 0
		},
		{
		  "type": "header",
		  "content": "Tablet Device"
		},
		{
		  "type": "range",
		  "id": "section_margin_top_md",
		  "min": 0,
		  "max": 150,
		  "step": 5,
		  "label": "Margin Top",
		  "unit": "px",
		  "default": 0
		},
		{
		  "type": "range",
		  "id": "section_margin_bottom_md",
		  "min": 0,
		  "max": 150,
		  "step": 5,
		  "label": "Margin Bottom",
		  "unit": "px",
		  "default": 0
		},
		{
		  "type": "header",
		  "content": "Mobile Device"
		},
		{
		  "type": "range",
		  "id": "section_margin_top_xs",
		  "min": 0,
		  "max": 150,
		  "step": 5,
		  "label": "Margin Top",
		  "unit": "px",
		  "default": 0
		},
		{
		  "type": "range",
		  "id": "section_margin_bottom_xs",
		  "min": 0,
		  "max": 150,
		  "step": 5,
		  "label": "Margin Bottom",
		  "unit": "px",
		  "default": 0
		}
         ]
      },
   {
         "type": "section_padding",
         "name": "Section Padding",
	  "limit": 1,
         "settings": [
           {
		  "type": "header",
		  "content": "Large/Desktop Device"
		},
		{
		  "type": "range",
		  "id": "section_padding_top",
		  "min": 0,
		  "max": 300,
		  "step": 5,
		  "label": "Padding Top",
		  "unit": "px",
		  "default": 100
		},
		{
		  "type": "range",
		  "id": "section_padding_bottom",
		  "min": 0,
		  "max": 300,
		  "step": 5,
		  "label": "Padding Bottom",
		  "unit": "px",
		  "default": 65
		},
		{
		  "type": "header",
		  "content": "Tablet Device"
		},
		{
		  "type": "range",
		  "id": "section_padding_top_md",
		  "min": 0,
		  "max": 300,
		  "step": 5,
		  "label": "Padding Top",
		  "unit": "px",
		  "default": 80
		},
		{
		  "type": "range",
		  "id": "section_padding_bottom_md",
		  "min": 0,
		  "max": 300,
		  "step": 5,
		  "label": "Padding Bottom",
		  "unit": "px",
		  "default": 45
		},
		{
		  "type": "header",
		  "content": "Mobile Device"
		},
		{
		  "type": "range",
		  "id": "section_padding_top_xs",
		  "min": 0,
		  "max": 300,
		  "step": 5,
		  "label": "Padding Top",
		  "unit": "px",
		  "default": 50
		},
		{
		  "type": "range",
		  "id": "section_padding_bottom_xs",
		  "min": 0,
		  "max": 300,
		  "step": 5,
		  "label": "Padding Bottom",
		  "unit": "px",
		  "default": 30
		}
         ]
      },
   {
         "type": "section_background",
         "name": "Section Background",
	  "limit": 1,
         "settings": [
           {
		  "type": "image_picker",
		  "id": "section_bg_image",
		  "label": "BG Image"
		},
		{
		  "type": "color",
		  "id": "section_bg_color",
		  "label": "BG Color",
		  "default": "#ffffff"
		}
         ]
      }
],
"presets": [
	{
	  "name": "Collage",
	  "category": "2. Banner",
	  "blocks":[
			{
				"type": "banner"
			},
            {
				"type": "product-collection"
			},
            {
				"type": "video"
			},
            {
				"type": "promotion__banner"
			}
		]
	}
]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
