{%- if section.settings.show_ft_top -%}
<div class="theme_footer_top" id="section-{{ section.id }}" data-section="FooterSection">
  <div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
   
    
    <div class="footer-top-2 pb-20 footer_style_3">
      <div class="row">
        {%- for block in section.blocks -%}{%- case block.type -%}
                
        {%- when 'logo_contact_social' -%}
        <div class="col-xl-{{ block.settings.widget_col }} col-lg-{{ block.settings.widget_col_lg }} col-md-{{ block.settings.widget_col_md }} col-sm-12 col-12">
          <div class="footer__top__area">

            <div class="footer__top__logo__area">

              {%- if block.settings.logo -%}
              <a class="footer_logo" href="/">
                <img loading="lazy"  src="{{ block.settings.logo | img_url: 'medium' }}" alt="{{ image.alt }}">
              </a>
              {%- endif -%}

            </div>

            
            {%- if block.settings.lcs_contact !=" " -%}
            <div class="footer__top__contact__area">

              {{ block.settings.lcs_contact_icon }} {{ block.settings.lcs_contact }}

            </div>
            {%- endif -%}
            
            {%- if block.settings.lcs_social_1 !="" or block.settings.lcs_social_2 !="" or block.settings.lcs_social_3 !="" or block.settings.lcs_social_4 !="" -%}
            <div class="footer__top__social__area">

              <div class="footer__top__social__wrap">
                {%- if block.settings.lcs_social_1 !="" -%}
                <a href="{{ block.settings.lcs_social_1_url }}">{{ block.settings.lcs_social_1 }}</a>
                {%- endif -%}

                {%- if block.settings.lcs_social_2 !="" -%}
                <a href="{{ block.settings.lcs_social_2_url }}">{{ block.settings.lcs_social_2 }}</a>
                {%- endif -%}

                {%- if block.settings.lcs_social_3 !="" -%}
                <a href="{{ block.settings.lcs_social_3_url }}">{{ block.settings.lcs_social_3 }}</a>
                {%- endif -%}

                {%- if block.settings.lcs_social_4 !="" -%}
                <a href="{{ block.settings.lcs_social_4_url }}">{{ block.settings.lcs_social_4 }}</a>
                {%- endif -%}
              </div>

            </div>
            {%- endif -%}

          </div>
        </div>

        
        
        {%- when 'newsletter' -%}
        <div class="col-xl-{{ block.settings.widget_col }} col-lg-{{ block.settings.widget_col_lg }} col-md-{{ block.settings.widget_col_md }} col-sm-12 col-12">
          <div class="footer-widget about_newsletter_info mb-40 widget-collapse">
            
                        
            {%- if block.settings.title != '' -%}
            <div class="footer-title">
               <h3 class="widget-title">{{ block.settings.title }}</h3>
            </div>
            {%- endif -%}

             <div class="newsletter__logo__apps widget-collapse-hide">
              {%- if block.settings.logo -%}
              <a class="footer_logo mb-30" href="/">
                <img loading="lazy"  src="{{ block.settings.logo | img_url: 'medium' }}" alt="{{ image.alt }}">
              </a>
              {%- endif -%}
             
              <div class="subscribe-style">
                {%- if block.settings.content != '' -%}
                <p>{{ block.settings.content }}</p>
                {%- endif -%}
                 {%- if block.settings.newsletter_form_show -%}
                <div id="mc_embed_signup" class="subscribe-form sf_style_2">
                  {%- render 'newsletter-form-2' -%}
                </div>
                
                {%- if block.settings.secure_content != '' -%}
                <p>{{ block.settings.secure_content }}</p>
                {%- endif -%}
                
                {%- endif -%}              
              </div>
              
              {%- if block.settings.app_store_img -%}
              <a class="app_store_img" href="{{block.settings.apps_url}}">
                <img loading="lazy"  src="{{ block.settings.app_store_img | img_url: 'large' }}" alt="{{ image.alt }}">
              </a>
              {%- endif -%}
            
             </div>
            
          </div>
        </div>

        {%- when 'ft_menu' -%}
        <div class="col-xl-{{ block.settings.widget_col }} col-lg-{{ block.settings.widget_col_lg }} col-md-{{ block.settings.widget_col_md }} col-sm-6 col-12">
          <div class="footer-widget mb-40 widget-collapse">
            {%- if block.settings.title != '' -%}
            <div class="footer-title">
               <h3 class="widget-title">{{ block.settings.title }}</h3>
            </div>
            {%- endif -%}

            <div class="footer-list widget-collapse-hide">
              <ul>
                {%- assign ft_menu = block.settings.ft_menu_handle -%}
                {%- for link in linklists[ft_menu].links -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
        
        
		{%- when 'ft_social' -%}
        <div class="col-xl-{{ block.settings.widget_col }} col-lg-{{ block.settings.widget_col_lg }} col-md-{{ block.settings.widget_col_md }} col-sm-12 col-12">
          <div class="footer-widget mb-40 widget-collapse">
            {%- if block.settings.title != '' -%}
            <div class="footer-title">
               <h3 class="widget-title">{{ block.settings.title }}</h3>
            </div>
            {%- endif -%}

            <div class="social_widget widget-collapse-hide">
              {% if block.settings.social1 != '' %}
              <a href="{{ block.settings.social1_url }}"><i class="sli sli-social-{{ block.settings.social1 }}"></i>{{ block.settings.social1 }}</a>
              {% endif %}

              {% if block.settings.social2 != '' %}
              <a href="{{ block.settings.social2_url }}"><i class="sli sli-social-{{ block.settings.social2 }}"></i>{{ block.settings.social2 }}</a>
              {% endif %}

              {% if block.settings.social3 != '' %}
              <a href="{{ block.settings.social3_url }}"><i class="sli sli-social-{{ block.settings.social3 }}"></i>{{ block.settings.social3 }}</a>
              {% endif %}

              {% if block.settings.social4 != '' %}
              <a href="{{ block.settings.social4_url }}"><i class="sli sli-social-{{ block.settings.social4 }}"></i>{{ block.settings.social4 }}</a>
              {% endif %}

              {% if block.settings.social5 != '' %}
              <a href="{{ block.settings.social5_url }}"><i class="sli sli-social-{{ block.settings.social5 }}"></i>{{ block.settings.social5 }}</a>
              {% endif %}
            </div>

          </div>
        </div>
        
        
        {%- when 'help_info' -%}
        <div class="col-xl-{{ block.settings.widget_col }} col-lg-{{ block.settings.widget_col_lg }} col-md-{{ block.settings.widget_col_md }} col-sm-12 col-12">
          <div class="footer-widget help_info_wrap mb-40 widget-collapse">
            {%- if block.settings.title != '' -%}
            <div class="footer-title">
              <h3 class="widget-title">{{ block.settings.title }}</h3>
            </div>
            {%- endif -%}

            <div class="social_widget widget-collapse-hide">
              {% if block.settings.help_info_1 != '' or block.settings.help_info_1_text != '' %}
              <a href="{{ block.settings.help_info_1_url }}">{{ block.settings.help_info_1 }} {{ block.settings.help_info_1_text }}</a>
              {% endif %}

              {% if block.settings.help_info_2 != '' or block.settings.help_info_2_text != '' %}
              <a href="{{ block.settings.help_info_2_url }}">{{ block.settings.help_info_2 }} {{ block.settings.help_info_2_text }}</a>
              {% endif %}

              {% if block.settings.help_info_3 != '' or block.settings.help_info_3_text != '' %}
              <a href="{{ block.settings.help_info_3_url }}">{{ block.settings.help_info_3 }} {{ block.settings.help_info_3_text }}</a>
              {% endif %}

              {% if block.settings.help_info_4 != '' or block.settings.help_info_4_text != '' %}
              <a href="{{ block.settings.help_info_4_url }}">{{ block.settings.help_info_4 }} {{ block.settings.help_info_4_text }}</a>
              {% endif %}

              {% if block.settings.help_info_5 != '' or block.settings.help_info_5_text != '' %}
              <a href="{{ block.settings.help_info_5_url }}">{{ block.settings.help_info_5 }} {{ block.settings.help_info_5_text }}</a>
              {% endif %}
            </div>

          </div>
        </div>
        
        <style>
          .footer-widget.help_info_wrap{
            background: {{ block.settings.hi_bg_color | color_modify: 'alpha', 0.2 }}
          }
        </style>
        
        {%- endcase -%}
        
        {%- endfor -%}
      </div>
    </div>

  </div>
</div>

{%- if section.settings.custom_footer_style -%}
<style>
  .footer-widget .footer-title h3 {
    color: {{ section.settings.ft_title_color }};
  }
  .subscribe-style p, .footer-widget .footer-list ul li a, .footer-top-2 ul li a,.theme_footer_top .social_widget a,.footer-widget .footer-list ul li {
    color: {{ section.settings.ft_content_color }};
    transition:.3s
  } 
  .theme_footer_top .footer-widget .subscribe-style p {
    color: {{ section.settings.ft_content_color }};
  }
  #section-{{ section.id }} .subscribe-style .subscribe-form .mc-form .clear:hover {
    background-color: {{ section.settings.ft_content_color_hover }};
  }  
  #section-{{ section.id }} .footer-top-2 ul li a:hover,
  #section-{{ section.id }} .footer-top-2 ul li:hover{
    color: {{ section.settings.ft_content_color_hover }};
  }
  
  .subscribe-style .subscribe-form .mc-form input::-moz-placeholder {
    color: {{ section.settings.ft_content_color }} !important;
  }
  .subscribe-style .subscribe-form .mc-form input::-webkit-input-placeholder {
    color: {{ section.settings.ft_content_color }} !important;
  }
  .subscribe-style .subscribe-form .mc-form input {
    border-color: {{ section.settings.ft_content_color }}
  }
  
  .footer_style_3 .subscribe-style .subscribe-form .mc-form input {
    border: 1px solid {{ section.settings.ft_content_color }};
  }

  .footer_style_3 .subscribe-style .subscribe-form .mc-form .sbs_btn {
    background: {{ section.settings.ft_content_color }};
  }
  
  
  {%- for block in section.blocks -%}{%- case block.type -%}
    {%- when 'newsletter' -%}
    .footer_style_3 .subscribe-style .subscribe-form .mc-form .sbs_btn input {
      color: {{ block.settings.subscribe_btn_Color }};
    }
    {%- endcase -%}
  {%- endfor -%}
  
  
  
  
  {%- assign footer_heading_font = section.settings.footer_heading_font -%}
  {%- assign footer_font_drop_mega = section.settings.footer_font_drop_mega -%}

  {{ footer_heading_font | font_face }}
  {{ footer_font_drop_mega | font_face }}

  
  .theme_footer_top .footer-widget .footer-title h3 {
    font-family: {{ footer_heading_font.family }}, {{ footer_heading_font.fallback_families }};
    font-style: {{ footer_heading_font.style }};
    font-weight: {{ footer_heading_font.weight }};
    font-size:{{ section.settings.footer_heading_font_size }}px;
  }

  .theme_footer_top .subscribe-style p,
  .theme_footer_top .footer-widget .footer-list ul li a,
  .theme_footer_top .footer-top-2 ul li a,
  .theme_footer_top .subscribe-style .subscribe-form .mc-form input,
  .theme_footer_top .social_widget a{
    font-family: {{ footer_font_drop_mega.family }}, {{ footer_font_drop_mega.fallback_families }};
    font-style: {{ footer_font_drop_mega.style }};
    font-weight: {{ footer_font_drop_mega.weight }};
    font-size:{{ section.settings.footer_font_drop_mega_size }}px;
  }
    
  
  
  
  .footer_style_3 .subscribe-style p {
    width: 95%;
    margin-bottom: 15px;
  }
  .footer_style_3 .subscribe-form {
    margin-bottom: 15px;
  }
  .footer_style_3 .footer-widget {
    padding: 35px 40px 20px;
  }
.footer_style_3 .footer-widget.about_newsletter_info {
    padding-left: 0;
    padding-right: 0;
}

.footer__top__area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	flex-wrap: wrap;
}

  @media (max-width: 767px){
    .footer__top__area > div {
      margin-bottom: 15px;
    }
  }

.footer__top__contact__area {
    color: {{ section.settings.ft_content_color }};
    font-size: 20px;
  	font-family:{{ footer_heading_font.family }}, {{ footer_heading_font.fallback_families }};
}

.footer__top__contact__area strong {
    font-size: 22px;
}

.footer__top__contact__area i {
    font-size: 24px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 2px;
}
  
.footer__top__social__wrap a {
    font-size: 16px;
    color: {{ section.settings.ft_content_color }};
    height: 45px;
    width: 45px;
    border: 1px solid {{ section.settings.ft_content_color }};
    display: inline-block;
    line-height: 45px;
    text-align: center;
    margin-right: 10px;
    border-radius: 100px;
}
  .footer__top__social__wrap a:last-child {
    margin: 0;
  }
  #section-{{ section.id }} .footer__top__social__wrap a:hover {
    color: {{ section.settings.ft_content_color_hover }};
    background: {{ section.settings.ft_content_color }};
    border-color: {{ section.settings.ft_content_color }};
  }
  
  #section-{{ section.id }}.theme_footer_top .footer-widget.help_info_wrap .social_widget a:hover{
    color: {{ section.settings.ft_content_color_hover }};
  }
  
  .footer__top__logo__area .footer_logo img {
    max-width: 150px;
  }
  .footer_style_3 .subscribe-style .subscribe-form.sf_style_2 .mc-form .sbs_btn {
    width: auto;
    height: 60px;
    border-radius: 0 5px 5px 0;
    width:120px
  }

  .footer_style_3 .subscribe-style .subscribe-form.sf_style_2 .mc-form input {
    height: 60px;
    border-radius: 5px;
    padding: 0 5px 0 10px;
  }

  
/* Small and large mobile :320px. */
@media (max-width: 767px) {  
.widget-collapse .footer-title:after {
      color:{{ section.settings.ft_content_color }}
  }
}

  
  
</style>
{%- endif -%}

{%- render 'section-style' -%}
{%- endif -%}




{% schema %}
  {
    "name": "Footer Top",
    "settings": [
		{
			"type": "checkbox",
			"id": "show_ft_top",
			"label": "Show Footer Top",
			"default": true
		},
              {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options":[
                      {
                          "label": "Full Width",
                          "value": "full_width"
                      },
                      {
                          "label": "Box Width",
                          "value": "box_width"
                      },
                      {
                          "label": "Default Width",
                          "value": "default"
                      }
                  ],
                  "default": "default"
              },
		{
          "type": "checkbox",
          "id": "custom_footer_style",
          "label": "Custom Footer Color",
          "default": true
        },
		{
			"type": "color",
			"id": "ft_title_color",
			"label": "Title Color",
			"default": "#444444"
		},
		{
			"type": "color",
			"id": "ft_content_color",
			"label": "Content Color",
			"default": "#5e5e5e"
		},
		{
			"type": "color",
			"id": "ft_content_color_hover",
			"label": "Link Hover Color",
			"default": "#666"
		},


		{
          "type": "font_picker",
          "id": "footer_heading_font",
          "label": "Font Family: Footer Heading",
          "default": "roboto_n5"
        },
        {
          "type": "text",
          "id": "footer_heading_font_size",
          "label": "Font Size: Footer Heading",
          "default": "18",
          "info": "Footer Heading Font Size"
        },
        {
          "type": "font_picker",
          "id": "footer_font_drop_mega",
          "label": "Font Family: Footer Content Font",
          "default": "roboto_n5"
        },
        {
          "type": "text",
          "id": "footer_font_drop_mega_size",
          "label": "Font Size: Font Size",
          "default": "16",
          "info": "Footer Content Font Size"
        }

	],
    "blocks": [

		{
			"type": "logo_contact_social",
			"name": "Logo Contact Social",
			"settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column (XL)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
                {
                    "type": "select",
                    "id": "widget_col_lg",
                    "label": "Select Column (LG)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "4"
                },
                {
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (MD)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "12"
                },
                {
                  "type": "header",
                  "content": "Logo"
                },
				{
					"type": "image_picker",
					"id": "logo",
					"label": "Image (Logo)"
				},
                {
                  "type": "header",
                  "content": "Contact"
                },
				{
					"type": "html",
					"id": "lcs_contact_icon",
					"label": "Contact Icon",
					"default": "<i class='sli sli-phone'></i>"
				},
				{
					"type": "html",
					"id": "lcs_contact",
					"label": "Contact Text",
					"default": "Call Us : <strong> +38 (121) 553420</strong>"
				},
                {
                  "type": "header",
                  "content": "Social"
                },
				{
					"type": "html",
					"id": "lcs_social_1",
					"label": "Social Icon",
					"default": "<i class='sli sli-social-facebook'></i>"
				},
				{
					"type": "url",
					"id": "lcs_social_1_url",
					"label": "Social 1 URL"
				},				
				{
					"type": "html",
					"id": "lcs_social_2",
					"label": "Social Icon1",
					"default": "<i class='sli sli-social-instagram'></i>"
				},
				{
					"type": "url",
					"id": "lcs_social_2_url",
					"label": "Social 2 URL"
				},
				{
					"type": "html",
					"id": "lcs_social_3",
					"label": "Social Icon 3",
					"default": "<i class='sli sli-social-twitter'></i>"
				},
				{
					"type": "url",
					"id": "lcs_social_3_url",
					"label": "Social 3 URL"
				},
				{
					"type": "html",
					"id": "lcs_social_4",
					"label": "Social Icon 4",
					"default": "<i class='sli sli-social-youtube'></i>"
				},
				{
					"type": "url",
					"id": "lcs_social_4_url",
					"label": "Social 4 URL"
				}
			]
		},
		{
			"type": "newsletter",
			"name": "Newsletter Subscribe",
			"settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column (XL)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
                {
                    "type": "select",
                    "id": "widget_col_lg",
                    "label": "Select Column (LG)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "4"
                },
                {
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (MD)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "12"
                },
				{
					"type": "image_picker",
					"id": "logo",
					"label": "Image (Logo)"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "About Info"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Content",
					"default": "Subscribe to our newsleter, Enter your emil address"
				},
                {
                    "type": "checkbox",
                    "id": "newsletter_form_show",
                    "label": "Newsletter Form Show",
                    "default": true
                },
				{
					"type": "textarea",
					"id": "secure_content",
					"label": "Secure Content",
					"default": "We’ll never share your email address with a third-party."
				},

                {
                  "type": "header",
                  "content": "Apps Store"
                },
				{
					"type": "image_picker",
					"id": "app_store_img",
					"label": "Apps Stores Img"
				},
				{
					"type": "url",
					"id": "apps_url",
					"label": "Apps URL"
				},
                {
                    "type": "color",
                    "id": "subscribe_btn_Color",
                    "label": "Subscribe Btn Color",
                    "default": "#fff"
                }

			]		
		},
		{
			"type": "ft_menu",
			"name": "Footer Menu",
			"settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column (XL)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
                {
                    "type": "select",
                    "id": "widget_col_lg",
                    "label": "Select Column (LG)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "4"
                },
                {
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (MD)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "12"
                },

				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Information"
				},
				{
					"type": "link_list",
					"id": "ft_menu_handle",
					"label": "Select Menu"
				}
			]			
		},
	   {
          "type": "ft_social",
          "name": "Social Widget",
		  "limit": 1,
          "settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column (XL)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
                {
                    "type": "select",
                    "id": "widget_col_lg",
                    "label": "Select Column (LG)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "4"
                },
                {
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (MD)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "12"
                },
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Follow Us On"
            },
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social1",
					"label": "Title",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social1_url",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social2",
					"label": "Title",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social2_url",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social3",
					"label": "Title",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social3_url",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social4",
					"label": "Title",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social4_url",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social5",
					"label": "Title",
					"default": "pinterest"
				},
				{
					"type": "url",
					"id": "social5_url",
					"label": "URL"
				}
          ]
       },


	   {
          "type": "help_info",
          "name": "Help Info",
		  "limit": 1,
          "settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column (XL)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "3"
                },
                {
                    "type": "select",
                    "id": "widget_col_lg",
                    "label": "Select Column (LG)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "4"
                },
                {
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (MD)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "12"
                },

              {
                "type": "color",
                "id": "hi_bg_color",
                "label": "Help info BG Color",
                "default": "#000"
              },


            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Help Information"
            },
				{
					"type": "header",
					"content": "Help Info 1"
				},
				{
					"type": "html",
					"id": "help_info_1",
					"label": "Info 1 Icon",
					"default": "<i class='sli sli-plane'></i>"
				},
				{
					"type": "url",
					"id": "help_info_1_url",
					"label": "Info 1 URL",
					"label": "URL"
				},
				{
					"type": "text",
					"id": "help_info_1_text",
					"label": "Help Info 1 Text",
					"default": "Delivery Info"
				},

				{
					"type": "header",
					"content": "Help Info 2"
				},
				{
					"type": "html",
					"id": "help_info_2",
					"label": "Info 2 Icon",
					"default": "<i class='sli sli-refresh'></i>"
				},
				{
					"type": "url",
					"id": "help_info_2_url",
					"label": "Info 2 URL",
					"label": "URL"
				},
				{
					"type": "text",
					"id": "help_info_2_text",
					"label": "Help Info 2 Text",
					"default": "Shipping & Returns"
				},

				{
					"type": "header",
					"content": "Help Info 3"
				},
				{
					"type": "html",
					"id": "help_info_3",
					"label": "Info 3 Icon",
					"default": "<i class='sli sli-speech'></i>"
				},
				{
					"type": "url",
					"id": "help_info_3_url",
					"label": "Info 3 URL",
					"label": "URL"
				},
				{
					"type": "text",
					"id": "help_info_3_text",
					"label": "Help Info 3 Text",
					"default": "Help Info"
				},


				{
					"type": "header",
					"content": "Help Info 4"
				},
				{
					"type": "html",
					"id": "help_info_4",
					"label": "Info 3 Icon",
					"default": "<i class='sli sli-earphones-alt'></i>"
				},
				{
					"type": "url",
					"id": "help_info_4_url",
					"label": "Info 4 URL",
					"label": "URL"
				},
				{
					"type": "text",
					"id": "help_info_4_text",
					"label": "Help Info 4 Text",
					"default": "Contact Info"
				},

				{
					"type": "header",
					"content": "Help Info 5"
				},
				{
					"type": "html",
					"id": "help_info_5",
					"label": "Info 5 Icon",
					"default": "<i class='sli sli-info'></i>"
				},
				{
					"type": "url",
					"id": "help_info_5_url",
					"label": "Info 5 URL",
					"label": "URL"
				},
				{
					"type": "text",
					"id": "help_info_5_text",
					"label": "Help Info 5 Text",
					"default": "FAQ Info"
				}
          ]
       },



	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 60
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}