<div class="instagram-feed-thumb {{block.settings.ins_img_col}} ">
  <div class="footer_inst_area" id="instafeed"></div>
</div>



<script>
  (function ($) {
    "use strict";
    jQuery(document).ready(function(){
      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ block.settings.instafeed_user_id }}',
        limit: '{{ block.settings.instafeed_limit }}',
        accessToken: '{{ block.settings.instafeed_access_token }}',
        resolution: '{{ block.settings.image_resolution }}',
        template: '<div class="single-instagram-item"><a href="\{\{link\}\}"><img loading="lazy"  src="\{\{image\}\}"></a></div>',
        after: {

      }
                                   });
      userFeed.run();
    });

  })(jQuery); 
</script>

<script src="{{ 'instafeed.min.js' | asset_url }}"></script>