{% comment %}
<nav>
  <ul>
    <li>
      <a href="index.html">home</a>
      <ul>
        <li><a href="index.html">home version 1</a></li>
        <li><a href="index-2.html">home version 2</a></li>
        <li><a href="index-3.html">home version 3</a></li>
        <li><a href="index-4.html">home version 4</a></li>
        <li><a href="index-5.html">home version 5</a></li>
        <li><a href="index-6.html">home version 6</a></li>
        <li><a href="index-7.html">home version 7</a></li>
        <li><a href="index-8.html">home version 8</a></li>
        <li><a href="index-9.html">home version 9</a></li>
        <li><a href="index-10.html">home version 10</a></li>
        <li><a href="index-11.html">home version 11</a></li>
        <li><a href="index-12.html">home version 12</a></li>
        <li><a href="index-13.html">home version 13</a></li>
        <li><a href="index-14.html">home version 14</a></li>
      </ul>
    </li>
    <li>
      <a href="#">shop</a>
      <ul>
        <li>
          <a href="#">shop grid</a>
          <ul>
            <li><a href="shop.html">standard style</a></li>
            <li><a href="shop-filter.html">Grid filter style</a></li>
            <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
            <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
            <li><a href="shop-grid-fw.html">Grid full wide </a></li>
            <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
          </ul>
        </li>
        <li>
          <a href="#">shop list</a>
          <ul>
            <li><a href="shop-list.html">list 1 column box </a></li>
            <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
            <li><a href="shop-list-fw-2col.html">list 2 column  full wide</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">product details</a>
      <ul>
        <li><a href="product-details.html">tab style 1</a></li>
        <li><a href="product-details-2.html">tab style 2</a></li>
        <li><a href="product-details-3.html">tab style 3</a></li>
        <li><a href="product-details-4.html">sticky style</a></li>
        <li><a href="product-details-5.html">gallery style </a></li>
        <li><a href="product-details-slider-box.html">Slider style</a></li>
        <li><a href="product-details-affiliate.html">affiliate style</a></li>
        <li><a href="product-details-6.html">fixed image style </a></li>
      </ul>
    </li>
    <li>
      <a href="#">pages</a>
      <ul>
        <li><a href="about.html">about us</a></li>
        <li><a href="cart-page.html">cart page</a></li>
        <li><a href="checkout.html">checkout </a></li>
        <li><a href="wishlist.html">wishlist </a></li>
        <li><a href="my-account.html">my account</a></li>
        <li><a href="login-register.html">login / register </a></li>
        <li><a href="contact.html">contact us </a></li>
        <li><a href="404.html">404 page </a></li>
        <li><a href="404.html">404 page </a></li>
      </ul>
    </li>
    <li>
      <a href="blog.html">blog</a>
      <ul>
        <li><a href="blog.html">blog standard</a></li>
        <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
        <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
        <li><a href="blog-details.html">blog details 1</a></li>
        <li><a href="blog-details-2.html">blog details 2</a></li>
        <li><a href="blog-details-3.html">blog details 3</a></li>
      </ul>
    </li>
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
  </ul>
</nav>
{% endcomment %}


<ul>
  {% for link in linklists.main-menu.links %}
  {% assign childlink_handle = link.title | handle %}
  {% if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 %}
  <li><a href="{{ link.url }}">{{ link.title }}</a>
    <ul>
      {% for childlink in linklists[childlink_handle].links %}
      {% assign grand_childlink_handle = childlink.title | handle %}
      {% if linklists[grand_childlink_handle] and linklists[grand_childlink_handle].links.size > 0 %}
      <li><a href="{{ childlink.url }}">{{ childlink.title }}</a>
        <ul>
          {% for grand_childlink in linklists[grand_childlink_handle].links %}
          <li><a href="{{ grand_childlink.url }}">{{ grand_childlink.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% elsif childlink.type == "collection_link" and childlink.object.image %}
      <li>
        <a href="{{ childlink.url }}"><img loading="lazy"  src="{{ childlink.object.image | img_url: 'master' }}" alt="{{ childlink.object.image.alt }}" /></a>
      </li>
      {% else %}
      <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
      {% endif %}  
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

