<div class="group-item-wrap">
  <div class="col-12">
    <div class="group-item">
    <div class="group-item-thumb">
      <a href="{{ product.url | within: collection }}">
        <img loading="lazy"  src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt }}">
      </a>
    </div>
    <div class="group-item-desc">
      <h5 class="group-product-name"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h5>
      <div class="price-box">
        <span class="price-regular">{{ product.variants.first.price | money }}</span>
        {%- if product.variants.first.compare_at_price > product.variants.first.price -%}
        <span class="price-old"><del>{{ product.variants.first.compare_at_price | money }}</del></span>
        {%- endif -%}
      </div>
      {%- render 'recomendation-grid-action', product:product -%}
    </div>
</div>
</div>
</div>