<div class="col-lg-12 col-md-12">
  <div class="{% unless product.images.size == 1 %}box-slider-active nav-style-1 owl-carousel {% else %}text-center {% endunless %}product-details-img">
    {%- for image in product.images -%}    
    <div class="single-img-gallery mb-30 zoompro-span">
      {% if product.images.size == 1 %}
      <a class="img-popup" href="{{ image.src | img_url: 'master' }}">
        <img class="product_variant_image" alt="{{ image.src.alt | escape }}" src="{{ image.src | img_url: 'large' }}">
      </a>
      {% else %}
      <a class="img-popup" href="{{ image.src | img_url: 'master' }}">
        <img class="product_variant_image" alt="{{ image.src.alt | escape }}" src="{{ image.src | img_url: 'master' }}">
      </a>
      {% endif %}
      
      {%- if settings.show_product_badge and forloop.index == 1 -%}
       {%- render 'product-badge', product: product, on_sale: on_sale, sold_out: sold_out -%}
      {%- endif -%}

      {% if section.settings.show_video and product.description contains '[product_video]' and forloop.index == 1 %}
      {% assign product_video_first = product.description | split:'[/product_video]' | first %}
      {% assign product_video_final = product_video_first | split:'[product_video]' | last %}
      <div class="product-video">
        <a class="video-popup magni_video_pop" href="https://www.youtube.com/watch?v={{ product_video_final }}">          
          {% if section.settings.show_video_icon %}
          <i class="sli sli-control-play"></i>{% endif %}

          {% if section.settings.video_btn != '' %}
          {{ section.settings.video_btn }}{% endif %}
        </a>
      </div>
      {% endif %}
    </div>
    {%- endfor -%}
  </div> 
</div>
<div class="col-lg-8 col-md-8 ml-auto mr-auto">
  <div class="product-details-content pro-details-slider-content text-center">
    {% render 'single-product-description', product: product, variant: variant, form: form, current_variant: current_variant, on_sale: on_sale -%}
  </div>
</div>


<script>
  $('.box-slider-active').owlCarousel({
    loop: true,
    nav: true,
    autoplay: false,
    autoplayTimeout: 5000,
    animateOut: 'fadeOut',
    animateIn: 'fadeIn',
    navText: ['<i class="sli sli-arrow-left"></i>', '<i class="sli sli-arrow-right"></i>'],
    item:{% if settings.section_full_width %}4{% else %}3{% endif %},
    margin: 30,
    responsive: {
      0: {
        items: 1
      },
      576: {
        items: 2
      },
      768: {
        items: 3
      },
      1000: {
        items:{% if settings.section_full_width %}4{% else %}3{% endif %}
      }
    }
  })
</script>